<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDX4Aqpbk-eUbzgfKRwhmg44ADIeyVzeCI</string>
	<key>GCM_SENDER_ID</key>
	<string>79200691774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rasoiriders.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rasoi-3c2cc</string>
	<key>STORAGE_BUCKET</key>
	<string>rasoi-3c2cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79200691774:ios:2e3080b7a20075078d536f</string>
</dict>
</plist>